@model Payment

@{
    ViewBag.Title = "PaymentType";
    Layout = "_Layout";
}

<h2>PaymentType</h2>
<br/>

<div id="all">

    <div id="content">
        <div class="container">

            <form asp-action="PaymentType">
                <div class="row">
                    <div class="col-md-9 clearfix" id="checkout">
                        <div class="box">
                            <ul class="nav nav-pills nav-justified">
                                <li>
                                    <a asp-action="Address"><i class="fa fa-map-marker"></i><br>Address</a>
                                </li>
                                <li class="active">
                                    <a asp-action="PaymentType"><i class="fa fa-money"></i><br>Payment Type</a>
                                </li>
                                <li class="disabled">
                                    <a href=""><i class="fa fa-eye"></i><br>Order Overview</a>
                                </li>
                            </ul>
                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="box payment-method">
                                            <h4>Paypal</h4>
                                            <p>
                                                Pay with PayPal easily and securely, receive payments & send money. Benefit from the buyer's protection and sales protection.<br><br><br>
                                            </p>
                                            <div class="box-footer text-center">
                                                <input asp-for="Type"type="radio" value="Paypal">
                                                <span asp-validation-for="Type" class="text-danger"></span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="box payment-method">
                                            <h4>Debit Card</h4>
                                            <p>With the SEPA Direct Debit, you can pay non-cash invoices in Germany or other SEPA countries. By means of a direct debit mandate, you allow the payment recipient to debit the amount due from your account.</p>
                                            <div class="box-footer text-center">
                                                <input asp-for="Type" type="radio" value="debitcard">
                                                <span asp-validation-for="Type" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.row -->
                <div class="box-footer">
                    <div class="pull-left">
                        <a href="shop-basket.html" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back</a>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-template-main">
                            Continue<i class="fa fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.content -->

    </div>
</div>
<!-- /#all -->


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}